# Preprocessing and Cleaning of the Data

In [28]:
import pandas as pd
import numpy as np
import pickle
import scipy.sparse as sp

from progressbar import ProgressBar

## Choose whether to load the small or large dataset

In [2]:
pickle_matrix = False

# Choose from "small" or "large"
dataset_size = "large"
# Choose from "train" or "dev" (test)
dataset_type = "train"

In [3]:
dataset_path = f"../../data/mind_{dataset_size}_{dataset_type}/"
behaviors_path = dataset_path + "behaviors.tsv"
news_path = dataset_path + "news.tsv"

## Loading the data

In [4]:
behaviors = pd.read_csv(behaviors_path, sep='\t', header=None)
news = pd.read_csv(news_path, sep='\t', header=None)

Let's first give our datasets some proper column names:

In [5]:
behaviors = behaviors.rename(columns={0: 'impression_id', 
                                      1: 'user_id', 
                                      2: 'time', 
                                      3: 'history', 
                                      4: 'impressions'})

news = news.rename(columns={0: 'article_id', 
                            1: 'category', 
                            2: 'subcategory', 
                            3: 'title', 
                            4: 'abstract', 
                            5: 'url', 
                            6: 'title_entities', 
                            7: 'abstract_entities'})

In [6]:
news.head(3)

,article_id,category,subcategory,title,abstract,url,title_entities,abstract_entities
0,N88753,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N45436,news,newsscienceandtechnology,Walmart Slashes Prices on Last-Generation iPads,Apple's new iPad releases bring big deals on l...,https://assets.msn.com/labs/mind/AABmf2I.html,"[{""Label"": ""IPad"", ""Type"": ""J"", ""WikidataId"": ...","[{""Label"": ""IPad"", ""Type"": ""J"", ""WikidataId"": ..."
2,N23144,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."

In [7]:
news_shape = news.shape
print(f"\nShape of news dataset: {news_shape}")
print(f"There are more than {news_shape[0]//1000},000 news articles in our news dataset.")

Shape of news dataset: (101527, 8)
There are more than 101,000 news articles in our news dataset.

For every article we have information concerning the **news category, subcategory, it's title, abstract and even some entitiy embeddings** (most of the urls don't work anymore so we don't have access to the full bodies). Let's check whether these are all unique articles or if we also have some duplicates:

In [8]:
print("Number of unique news articles: ", news.title.nunique())
print("Number of duplicates:             ", news.shape[0] - news.title.nunique())

Number of unique news articles:  98388
Number of duplicates:              3139

Apparently, there are **news articles with multiple IDs**. We don't just want to drop them yet, as this would result in a loss of useful information concerning the click behaviors and reading histories in our ***behaviors* dataset**, which looks like this:

In [9]:
behaviors.head(3)

,impression_id,user_id,time,history,impressions
0,1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...
1,2,U598644,11/12/2019 1:45:29 PM,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
2,3,U532401,11/13/2019 11:23:03 AM,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1

Let us first prepare this dataset before we get back to handling the duplicate news articles.

## Preparing the *behaviors* dataset

In [10]:
behaviors_shape = behaviors.shape
print(f"\nShape of behaviors dataset: {behaviors_shape}")
print(f"In the behaviors dataset there are more than {behaviors_shape[0]//1000},000",
      "online sessions from MSN news.")

Shape of behaviors dataset: (2232748, 5)
In the behaviors dataset there are more than 2232,000 online sessions from MSN news.

We have information concerning **user ID, date and daytime, the click history, and the recommended articles and user behavior** (ending on -1 = clicked) for the respective session. Let's see how many unique users there are:

In [11]:
print(f'There are {len(behaviors.user_id.unique())} individual users in our dataset.')
print(f'The average number of sessions is: {behaviors_shape[0] / len(behaviors.user_id.unique()):.1f}')

There are 711222 individual users in our dataset.
The average number of sessions is: 3.1

The click history of users with multiple sessions is the same for all sessions, as the following two random samples show:

In [12]:
top5_multiple_session_users = behaviors.user_id.value_counts()[:5]
print(top5_multiple_session_users)

U536528    106
U569581     67
U41536      66
U301043     62
U483745     60
Name: user_id, dtype: int64

In [13]:
top5_multiple_session_users.index[0]

'U536528'

In [14]:
behaviors_id = behaviors[behaviors.user_id == top5_multiple_session_users.index[0]]
len(behaviors_id.history), len(behaviors_id.history.unique())

(106, 1)

In [15]:
behaviors_id = behaviors[behaviors.user_id == top5_multiple_session_users.index[1]]
len(behaviors_id.history), len(behaviors_id.history.unique())

(67, 1)

Since we work with the click history quite a bit,we want to include **only users with at least five articles read** in their history. So we need to drop ahistorical users as well as users with too few articles read:

In [16]:
behaviors.isna().sum()

impression_id        0
user_id              0
time                 0
history          46065
impressions          0
dtype: int64

In [17]:
behaviors.dropna(inplace=True)

In [18]:
behaviors['length_history'] = behaviors.history.str.split().map(len)

In [19]:
behaviors = behaviors[behaviors['length_history'] >= 5]

In [20]:
behaviors.length_history.value_counts()[:5]

5    83726
6    78792
7    73876
8    67973
9    63602
Name: length_history, dtype: int64

## Droppping duplicate article IDs in *news* and remapping them in *behaviors*
Now that we have set up our *behaviors* dataset with respect to users, let's get back to the duplicate news articles. With different IDs for the de facto same articles we would not be able to track similarities among users sufficiently. In the following, we will **replace every redundant article-ID with the first ID for the respective article**. In order to this, we first create a subset with all the duplicates in it:

In [21]:
duplis_title = news[news.duplicated(subset="title", keep=False)]

In [22]:
duplis_title.shape

(5367, 8)

In [23]:
duplis_title.sort_values(by="title").head(3)

,article_id,category,subcategory,title,abstract,url,title_entities,abstract_entities
22698,N11490,travel,travelnews,$2 million Florida Lottery ticket sold in Jack...,NaN,https://assets.msn.com/labs/mind/AAJLM24.html,"[{""Label"": ""Florida Lottery"", ""Type"": ""O"", ""Wi...",[]
43099,N33885,travel,travelnews,$2 million Florida Lottery ticket sold in Jack...,NaN,https://assets.msn.com/labs/mind/AAJTMIW.html,"[{""Label"": ""Florida Lottery"", ""Type"": ""O"", ""Wi...",[]
53996,N88198,lifestyle,lifestylebuzz,$23 Million SuperLotto Plus Ticket Sold In San...,Are you holding the winning ticket worth $23 m...,https://assets.msn.com/labs/mind/AAJCjxB.html,"[{""Label"": ""San Fernando Valley"", ""Type"": ""L"",...",[]

In [24]:
title_set = duplis_title['title'].unique()

In [25]:
article_list = []
for title in title_set:
    x = duplis_title[duplis_title['title']==title]['article_id'].to_list()
    article_list.append(x)

In [26]:
article_list[:5]

[['N93333', 'N18950'],
 ['N108072', 'N19710'],
 ['N112099', 'N50263'],
 ['N108765', 'N123453'],
 ['N1396', 'N45124']]

We now have a **list which contains article IDs for every article which has multiple IDs** in our original dataset. With this list, we can generate a dictionary called articleID_dict, which maps all the redundant IDs (keys) to a single ID (value):

In [27]:
articleID_dict = {}
articles_to_change = []
for article in article_list:
    value = article[0]
    keys = article [1:]
    for k in keys:
        articleID_dict[k] = value
        articles_to_change.append(k)

Let's make a copy of the original behaviors dataframe and make it to a numpy array, so that we can **loop through all the redundant IDs in the *behaviors* dataset and homogenize them** according to our dictionary:

In [28]:
behav = behaviors.copy()
behav = behav.to_numpy()

In [29]:
pbar = ProgressBar()
userIDs_hist_changes = []
userIDs_impr_changes = []
users_to_change = []
articles_to_change_set = set(articles_to_change)

In [30]:
for idx in pbar(range(behav.shape[0])):
    user_row = behav[idx]
    hist_flag = False
    hist = user_row[3]
    hist_list = hist.split()
    hist_set = set(hist_list)
    hist_inter = hist_set & articles_to_change_set
    for art in hist_inter:
        hist_flag = True
        users_to_change.append(idx)
        userIDs_hist_changes.append(user_row[1])
        hist = hist.replace(art, articleID_dict[art])
    if hist_flag:
        behav[idx][3] = hist
    impression_flag = False
    impressions = user_row[4]
    impression_list = [l[:-2] for l in impressions.split()]
    impression_set = set(impression_list)
    for art in (impression_set & articles_to_change_set):
        impression_flag = True
        userIDs_impr_changes.append(user_row[1])
        impressions = impressions.replace(art, articleID_dict[art])
    if impression_flag:        
        behav[idx][4] = impressions

100% |########################################################################|

Let's **check wether our method worked**. For this task, we **construct a list containing all articles in our array and compare it to the articles_to_change list**, by making them to sets and calculating their intersection, which should be empty:

In [31]:
all_articles = []
for row in behav:
    hist_list = row[3].split(' ')
    for article in hist_list:
        all_articles.append(article)
    impr_list = row[4].split(' ')
    for article in impr_list:
        all_articles.append(article[:-2])

In [32]:
#set(all_articles) & articles_to_change_set

Apparently, our method worked! 

## Dropping users who read articles on which there is no information

We realized, that there are some articles in the history and impression logs without a corresponding entry in the news dataset. So, before saving the processed datasets, we also remove all the users in the behaviors dataset, who read those articles:

In [33]:
unique_articles_behav = set(all_articles)

In [34]:
unique_articles_news = set(news.article_id.unique())

In [35]:
articles_to_drop = unique_articles_behav - unique_articles_news
len(articles_to_drop)

36

In [36]:
news[news.article_id.isin(articles_to_drop)]

Empty DataFrame
Columns: [article_id, category, subcategory, title, abstract, url, title_entities, abstract_entities]
Index: []

In [37]:
behaviors.columns

Index(['impression_id', 'user_id', 'time', 'history', 'impressions',
       'length_history'],
      dtype='object')

In [38]:
users_to_drop = []
for i, impr in enumerate(behav):
    hist_set = set(impr[3].split())
    if len(hist_set & articles_to_drop) > 0:
        users_to_drop.append(i)
    
    impr_set = set([art[:-2] for art in impr[4].split()])
    if len(impr_set & articles_to_drop) > 0:
        users_to_drop.append(i)

In [39]:
users_to_drop = list(set(users_to_drop))

In [40]:
behav_new = np.delete(behav, users_to_drop, axis=0)

In [41]:
behav.shape[0] - behav_new.shape[0] == len(users_to_drop)

True

Now let's make a **new dataframe out of our processed behavioral data**:

In [42]:
behaviors_new = pd.DataFrame(behav_new, columns=behaviors.columns)

In [43]:
set(behaviors_new.user_id.unique()) & set(users_to_drop)

set()

After the processing from above, the numbers for our *behaviors* dataset now look like this:

In [44]:
print(f'There are now just over {behaviors_new.shape[0]//1000},000 sessions and {len(behaviors_new.user_id.unique())}',
      'individual users in our dataset.')
print(f'The average number of sessions is: {behaviors_new.shape[0] / len(behaviors_new.user_id.unique()):.1f}')

There are now just over 1940,000 sessions and 575553 individual users in our dataset.
The average number of sessions is: 3.4

And also make a new dataframe for the information on **news articles without duplicates**:

In [45]:
news_new = news.drop_duplicates(subset="title", keep='first')

In [46]:
news_new.shape

(98388, 8)

### Saving processed datasets
Now we want to save the processed data and write it to csv files:

In [5]:
behaviors_output_path = dataset_path + "behaviors_processed.csv"
behaviors_new.to_csv(behaviors_output_path, index=False)

In [48]:
news_output_path = dataset_path + "news_processed.csv"
news_new.to_csv(news_output_path, index=False)

### Preprocessing for collaborative filtering approaches
For the deployment of recommender systems which use Collaborative Filtering (CF) techniques, user-article interactions play a pivotal role. Because CF is of great importance to understand modern day recommender systems in general, we too want to construct and discuss different versions of this approach. In order to do this, it is useful to further process our data with repsect to user-article interactions. 

Because we **only work with the click history** when deploying CF methods, we only need one session per user:

In [49]:
behaviors_cf = behaviors_new.drop_duplicates(subset='user_id').copy()

In [50]:
assert behaviors_cf.shape[0] == behaviors_new.user_id.nunique(), \
       "User duplicates have not been dropped"

In [51]:
behaviors_cf.head()

,impression_id,user_id,time,history,impressions,length_history
0,1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...,16
1,2,U598644,11/12/2019 1:45:29 PM,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,24
2,3,U532401,11/13/2019 11:23:03 AM,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1,16
3,4,U593596,11/12/2019 12:24:09 PM,N31043 N39592 N4104 N8223 N114581 N92747 N1207...,N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...,13
4,5,U239687,11/14/2019 8:03:01 PM,N65250 N122359 N71723 N53796 N41663 N41484 N11...,N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...,339

Now we want to construct a numpy array out of this smaller dataset

In [52]:
behav_cf = behaviors_cf.to_numpy(copy=True)

so that we can get **two lists with user-article-interactions**. One for training and another one with the last article in history for testing purposes:

In [6]:
uai_train, uai_test = [], []
i = 0
with open(behaviors_output_path, "r") as f:
    header = f.readline()
    line = f.readline()
    print(header)
    print(line)
    while line != None and line != "":
        i += 1
        print(i, end="\r")
        row = line.split(",")
        user = row[1]
        hist = row[3].split(' ')
        for art in hist[:-1]:
            uai_train.append([user, art])
            
        last_art = hist[-1]
        uai_test.append([user, last_art])
        line = f.readline()

impression_id,user_id,time,history,impressions,length_history

1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N29379 N32031 N110232 N101921 N12614 N129591 N105760 N60457 N1229 N64932,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N58258-0 N18478-0 N2591-0 N97778-0 N32954-0 N94157-1 N39404-0 N108809-0 N78699-1 N71090-1 N40282-0 N31174-1 N37924-0 N27822-0,16

Let's check if that worked:

In [ ]:
len(behaviors.loc[0].history.split(' ')[:-1])

In [7]:
uai_train[0:15], uai_test[0]

([['U87243', 'N8668'],
  ['U87243', 'N39081'],
  ['U87243', 'N65259'],
  ['U87243', 'N79529'],
  ['U87243', 'N73408'],
  ['U87243', 'N43615'],
  ['U87243', 'N29379'],
  ['U87243', 'N32031'],
  ['U87243', 'N110232'],
  ['U87243', 'N101921'],
  ['U87243', 'N12614'],
  ['U87243', 'N129591'],
  ['U87243', 'N105760'],
  ['U87243', 'N60457'],
  ['U87243', 'N1229']],
 ['U87243', 'N64932'])

That looks good! Now we want to get some **extra user- and article integer IDs**, that we can later use for a **dictionary-of-keys-matrix**, which in turn will be **employed in a neural network**. For our train data, we can do it like this:

In [8]:
uai_train_df = pd.DataFrame(uai_train, columns=['user_id', 'article_id'])

In [9]:
uai_train_df['user_int_id'] = uai_train_df.user_id.astype('category').cat.codes
uai_train_df['article_int_id'] = uai_train_df.article_id.astype('category').cat.codes

In [10]:
uai_train_df.head(3)

  user_id article_id  user_int_id  article_int_id
0  U87243      N8668       564112           67478
1  U87243     N39081       564112           36583
2  U87243     N65259       564112           53550

and for our test data, we need to make sure that it contains only the articles which are also in the train data. At first, we need to find those articles:

In [11]:
train_articles = [elem[1] for elem in uai_train]
test_articles = [elem[1] for elem in uai_test]
articles_to_drop = set(test_articles)-set(train_articles)

With this list, we're now able to reduce our test data:

In [12]:
uai_test_red = [ele for ele in uai_test if ele[1] not in articles_to_drop]

and can thus create a test dataframe without unknown articles:

In [13]:
uai_test_df = pd.DataFrame(uai_test_red, columns=['user_id', 'article_id'])

We can then construct two dictionaries, which map the original user and article IDs to the integer IDs:

In [14]:
user_code_dict = pd.Series(uai_train_df.user_int_id.values,
                           index=uai_train_df.user_id).to_dict()

article_code_dict = pd.Series(uai_train_df.article_int_id.values,
                              index=uai_train_df.article_id).to_dict()

In [15]:
uai_test_df['user_int_id'] = [user_code_dict[user] for user in uai_test_df.user_id]
uai_test_df['article_int_id'] = [article_code_dict[art] for art in uai_test_df.article_id]

In [16]:
uai_test_df.head(3)

   user_id article_id  user_int_id  article_int_id
0   U87243     N64932       564112           53308
1  U598644     N31055       448386           31370
2  U532401     N31323       388825           31545

In [17]:
uai_train_path = dataset_path + f"{dataset_size}_train.csv"
uai_train_df.to_csv(uai_train_path, index=False)

In [18]:
uai_test_path = dataset_path + f"{dataset_size}_test.csv"
uai_test_df.to_csv(uai_test_path, index=False)

Now we actually **create the dok-matrix**:

In [19]:
num_users, num_articles = uai_train_df.user_id.nunique(), uai_train_df.article_id.nunique()
num_users, num_articles

(575553, 76190)

In [20]:
train_matrix = sp.dok_matrix((num_users, num_articles), dtype=np.float32)

with open(uai_train_path, "r") as f:
    header = f.readline()
    line = f.readline()
    print(header)
    print(line)
    while line != None and line != "":
        line_list = line.split(",")
        user, article = int(line_list[2]), int(line_list[3])
        train_matrix[user, article] = 1.0
        line = f.readline()

user_id,article_id,user_int_id,article_int_id

U87243,N8668,564112,67478

In [29]:
if pickle_matrix:
    pickle.dump(train_matrix, open(dataset_path + "train_matrix.pkl", "wb"))

Later on, when we want to evaluate our recommender systems, we need to **compare the ranking for the known -- but not learned -- interactions with known non-interactions**, so that we can tell how useful our recommendation is: the higher the ranking of the test interaction, the better our model! In order to do this, we want to **extract 99 non read articles for every user in our test set**.

In [21]:
test_interactions = list(zip(uai_test_df.user_int_id, uai_test_df.article_int_id))

In [22]:
num_negatives = 99

In [23]:
negative_interactions = []
for u, i in test_interactions:
    negatives = []
    for t in range(num_negatives):
        j = np.random.randint(num_articles)
        while (u, j) in train_matrix.keys():
            j = np.random.randint(num_articles)
        negatives.append(j)
    negative_interactions.append(negatives)

In [24]:
len(test_interactions), len(negative_interactions), len(negative_interactions[0])

(1936931, 1936931, 99)

**Finally**, we want to **write our one positive interaction along with the randomly generated non interactions into a tsv file** and we're done with the cleaning and preprocessing of the data!

In [25]:
output = negative_interactions[:]

In [26]:
for i in range(len(test_interactions)):
    output[i].insert(0, test_interactions[i])

In [27]:
test_negatives_path = dataset_path + f"{dataset_size}_test_negatives.tsv"
with open(test_negatives_path, 'w') as f:
    for line in output:
        line_str = '\t'.join(str(ele) for ele in line) + "\n"
        f.write(line_str)